body {
  font-family: 'Mali', cursive;
}

header {
  font-family: 'Cabin Condensed', sans-serif;
  width: 100%;
  overflow: hidden;
  /* background-image: linear-gradient(to right, rgba(9, 161, 128), rgba(18, 46, 100)); */
  background-image: url('../assets/images/galax.jpg');
  color: rgb(213, 221, 243);
  position: fixed;
}

.navbar-light .navbar-nav .nav-link {
  color: #E7E8E8;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(35, 228, 186);
}

.navbar-light .navbar-nav .nav-link:active {
  color: #E7E8E8;
}

.navbar-light .navbar-toggler {
  color: rgba(240, 226, 226, 0.952);
  border-color: rgb(247, 247, 247);
}

#containerSection {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* @media */