body {
  background: #FDFCFF;
  font-family: 'Nunito', sans-serif;
}

header {
  margin-top: 1.5em;
}
 /* formato del nav */
.nav {
  min-height: 4em;
  overflow: hidden;
  background: #D8516B;
  color: #E7E8E8;
}

/* poniendo color a los icon del nav */
.fa-spa {
  color: #EEC8BF;
}

/* Modificando la parte del nombre en nav*/

.name h1, .name p {
  font-size: 1.5em;
  display: inline-block;
  margin: 0em;
  font-family: 'Courgette', cursive;
}

.name h1 {
  text-transform: uppercase;
}

/* Modificando la parte del menu */
nav .c-1, nav .c-2, nav .c-3 {
  color: #E7E8E8; 
}
nav .c-1:hover, nav .c-2:hover , nav .c-3:hover {
  background: #E72B6C;
}
.menu {
  padding: 0em; 
}

.menu a {
  display: block;
  padding: 0em 1.5em;
  text-decoration: none;
}

/* perfil */

.perfil, .images {
  border-top: 0.7em solid #85334B;
  padding: 0em 4em;
}

#photo-perfil {
  width: 10em;
  height: 12em;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
}

.perfil-user {
  margin: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}

.photo {
  text-align: center;
}

.title {
  padding: 1em 0em 0em 0em;
  text-align: center;
  color: #85334B;
  font-size: 2em;
}

.acerca {
  margin-top: 2em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.acerca .label, h2 {
  color: #85334B;
  font-weight: 600;
} 
.acerca .label {
  font-size: 1.1em;
  margin-bottom: 0.4em;  
}
/* portafolio */

.images .conta-imagen {
  margin-bottom: 2em;
  margin-top: 2em;
  overflow: hidden;
}
.images .conta-imagen a {
  background: #853366;
  display: inline-block;
}

.images .conta-imagen:hover img {
  opacity: 0.3;
}

.images .modal-dialog {
  margin: 0em auto;
  height: 100em;
  max-width: 100em;
}

.images .modal-content {
  width: auto;
}

/* Tamaños de pantalla */
@media screen and (max-width:991px){
  .name {
    height: 4em;
  }

  .menu {
    min-height: 4em;
  }
  .menu a, .menu a div {
    width: 100%;
  }
}

@media screen and (max-width:575px) {
  
  header {
      margin-top: 0em;
  }

  .name h1, .name p {
    font-size: 1em;
  }
}

@media screen and (min-width: 992px) {
  .photo {
    margin-top: -30em;
  }
}
